<html>
<center>
<strong>
<head><title>My Quiz</title></head>
<body>

<h2 style="font-size: 30">Hello there!</h2>
<p style="font-size: 25">Let's take a quiz!</p>
<form action="/question" method="GET">
  <input type="submit" value="start">
</form>

<p><a href="/startover" style="text-decoration:none; font-size: 25px">Start Over</a></p>
</body>
</strong>
</center>
</html>
