<center>
<strong>
<% if result %>
<p style="font-size: 30">Correct!</p>
<img src="http://i.giphy.com/U3I5ZJPFJpXRm.gif"/>
<% else %>
<p style="font-size: 30">Wrong!</p>
<img src="http://i.giphy.com/11SJ52YouBaDFS.gif"/>
<% end %>

<p><a href="/question" style="text-decoration:none; font-size: 30px">Next Question...</a></p>
</strong>
</center>